
header{
    background-color: rgb(152, 201, 197) !important;
    padding: 0 0 0 0 !important;
}

nav{
  background-color: lightblue;
}

h1 {
  color: black ;
}

p {
  font-family: verdana;
  font-size: 18px;
}

a {
  text-decoration-color: black;
}

footer{
    text-align: center;
    background-color: rgb(88, 120, 161);
}
